/* https://www.creaton.pl/_Resources/Persistent/9/0/e/7/90e714c4279302398e1b1af9a54761e64732c042/Jaki%20kszta%C5%82t%20mo%C5%BCe%20mie%C4%87%20dach%20-%2001-889x465.jpg */



/* Demo styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body{
  background-color: white;
}

a {
  cursor: pointer;
  color: #CCC;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

.hero_background{

}
#root{
  overflow: hidden;
}
.cover{
  height: 100vh;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/6527069/pexels-photo-6527069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}
.cover-container{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.6747431394432772) 0%, rgba(255,255,255,0) 60%);
}
.header_text_1{
  color: white;
}
.header_text_2{
  color: white;
  font-style: italic;
}
.menu{
  font-size: 2rem;
}