/* https://www.creaton.pl/_Resources/Persistent/9/0/e/7/90e714c4279302398e1b1af9a54761e64732c042/Jaki%20kszta%C5%82t%20mo%C5%BCe%20mie%C4%87%20dach%20-%2001-889x465.jpg */



/* Demo styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body{
  background-color: white;
}

a {
  cursor: pointer;
  color: #CCC;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  text-align: center;
  color: #CCC;
  position: relative;
  text-transform: uppercase;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/src/P0.png");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%); 
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  letter-spacing: 14px;
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
}
.menu-wrapper{
  display: flex;
  gap:50px;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
.divider{
  width: 50%;
  margin: auto;
}
.nav-litem{

  text-decoration: none;
}