/* Demo styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

a {
  cursor: pointer;
  text-decoration: none;
}
/**
 * ANIMATIONS CSS ---------------------------------
 */
.effect-one {
  position: relative;
}
.effect-one:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: 5px -10px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.effect-one:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/* .carouselImg{
  height: 400px;
  object-fit: contain;
} */
.TerminBut{
  cursor: pointer;
  background-color: rgb(122, 26, 26);
  border: 1px black solid;
  border-radius: 3px;
}
.TerminBut:focus{
  background-color: rgba(248, 158, 158, 0.692);
}
.apoView{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
  border-radius: 3px;
}